.navbar {
  background-color: rgb(195, 113, 170);
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-a {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-size: x-large;
  padding-right: 40%;
}
.nav-b {
  color: white;
  font-weight: 600;
  font-size: larger;
}

li {
  list-style: none;
  text-align: center;
}

.cartCard {
  display: flex;
  justify-content: space-between;
}
.quantity {
  margin-right: 10px;
}
